* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove text selection highlight */
::selection {
    background: transparent; /* No background color */
    color: inherit; /* Keep the original text color */
}

@font-face {
    font-family: "compressed"; 
    src: url("/fonts/GT-America-Compressed-Ultra-Light.otf") format("opentype"); 
}

@font-face {
    font-family: "headline"; 
    src: url("/fonts/GT-America-Compressed-Medium.otf") format("opentype"); 
}

@font-face{
    font-family: "normal"; 
    src: url("/fonts/GT-America-Mono-Light.otf") format("opentype"); 
}

@font-face{
    font-family: "regular"; 
    src: url("/fonts/GT-America-Regular.otf") format("opentype"); 
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

/* ------------------ HEADER ------------------ */ 

.header {
    background-color: black; 
    color: white; 
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
    text-align: center;
}

.header h1 {
    font-family: "compressed", Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    text-align: center;
    border: 1px solid white; 
    border-radius: 20px; 
    width: 500px;
}

.header p {
    font-family: "normal", Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    text-align: justify;
    font-size: small; 
    hyphens: auto;
    padding-top: 20px; 
    width: 500px;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.header button {
    font-family: "normal", Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    text-align: center;
    font-size: small; 
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;

}

/* ------------------------------------ */ 

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 600px;
}

/* ------------------ LEFT ------------------ */ 

.left-container {
    width: 95%; /* Initial width */
    overflow-y: auto;
    padding: 20px;
    padding-left: 20%; 
    padding-right: 20%; 
    background-color: ghostwhite;
}

.left-container h1 {
    font-family: "headline", Arial, sans-serif; 
    font-weight: normal; 
    padding-top: 20px; 
    padding-bottom: 10px;
}

.left-container img {
    max-width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.left-container h2 {
    font-family: "regular", Arial, sans-serif; 
    font-weight: normal; 
    font-size: medium; 
}

.info {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.arseblog h2{
    font-weight: normal;
    color: brown;
}

.date h2{
    font-weight: normal;
    color: grey;
}

/* ------------------ RIGHT ------------------ */ 

.right-container {
    width: 5%; /* Initial width */
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(253, 237, 237);
}

.right-container h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.divider {
    background-color: transparent;
    width: 2px;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 95%;
}

@media (max-width: 1000px) {
    .left-container {
        padding-left: 15%; 
        padding-right: 15%; 
    }

    .left-container h2 {
        font-size: small;
    }
}

@media (max-width: 600px) {
    .left-container {
        padding-left: 30px; 
        padding-right: 30px; 
    }
}

